# dependencies
node_modules/

# next.js build output
.next/
out/

# environment variables
.env
.env.local
.env.*.local

# misc
*.pem
.DS_Store
Thumbs.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
